<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark.NoActionBar">
        <activity
            android:name=".StatisticsActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"/>
        <activity
            android:name=".HabitManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"/>
        <activity
            android:name=".JournalActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"/>
        <activity
            android:name=".HabitOverviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Material3.Dark.NoActionBar" /> <!-- Keine Actionbar im Login & Register -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"> <!-- Keine Actionbar im Login & Register -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!-- Setzt die Login Seite als Startseite bei der App, wurde von der Main Activity entfernt -->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"/>
    </application>

</manifest>